<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30">
  <appenders>  
  	<RollingFile name="suggestion_appender" bufferedIO="false" 
  		filename="logs/suggestion.txt"
  		filePattern="logs/$${date:yyyy-MM}/suggestion-%d{MM-dd-yyyy}-%i.log.gz">
  		<PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} - %n%msg%n"/>
  		<Policies>
        	<OnStartupTriggeringPolicy />
        	<SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
  	</RollingFile>
    <RollingFile name="tzsc_appender" filename="logs/tzsc.log"
    	filePattern="logs/$${date:yyyy-MM}/tzsc-%d{MM-dd-yyyy}-%i.log.gz">  
      <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        	<OnStartupTriggeringPolicy />
        	<SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>  
    </RollingFile>
    <RollingFile name="access_appender" filename="logs/access.log"
    	filePattern="logs/$${date:yyyy-MM}/access-%d{MM-dd-yyyy}-%i.log.gz">  
      <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        	<OnStartupTriggeringPolicy />
        	<SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>  
    </RollingFile>
    <RollingFile name="attack_appender" filename="logs/attack.log"
    	filePattern="logs/$${date:yyyy-MM}/attack-%d{MM-dd-yyyy}-%i.log.gz">  
      <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        	<OnStartupTriggeringPolicy />
        	<SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>  
    </RollingFile>
    <RollingFile name="attack_appender" filename="logs/unknownAct.log"
    	filePattern="logs/$${date:yyyy-MM}/attack-%d{MM-dd-yyyy}-%i.log.gz">  
      <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        	<OnStartupTriggeringPolicy />
        	<SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>  
    </RollingFile>
    <RollingFile name="wxcur_appender" filename="logs/wxcur.log"
    	filePattern="logs/$${date:yyyy-MM}/wxcur-%d{MM-dd-yyyy}-%i.log.gz">  
      <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        	<OnStartupTriggeringPolicy />
        	<SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>  
    </RollingFile>
    <Console name="STDOUT">
      <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </appenders>  
  <loggers>  
    <logger name="tzsc" level="debug">  
      <appender-ref ref="tzsc_appender"/>  
    </logger>
    <logger name="tzsc.attack" level="debug">  
      <appender-ref ref="attack_appender"/>
    </logger>
    <logger name="tzsc.access" level="debug">
      <appender-ref ref="access_appender"/>
    </logger>
    <logger name="tzsc.unknownAct" level="error">
    	<appender-ref ref="unknownAct_appender"/>
    </logger>
    <logger name="suggestion" level="error">
    	<appender-ref ref="suggestion_appender"/>
    </logger>
    <logger name="wxcur" level="error">
    	<appender-ref ref="wxcur_appender"/>
    </logger>
    <root level="debug">
    	<appender-ref ref="STDOUT"/>
    </root>
  </loggers>
</configuration>