.pcBody{
	margin:0 25% 0 25%;
}
.alertArea {
	color:red;
}
.orderState0,.validInfoState{
	color:blue;
}
.orderState1{
	color:gray;
}
.orderState2{
	color:gray;
}
.newLowPrice,.historyInfoState{
	color:red;
}
.oldHighPrice{
	color:gray;
	text-decoration:line-through;
}