body {
	font-size:14px;
	margin:0;
	padding:0;
	font-family: tahoma, arial, ו;
	overflow-x:hidden;
}
a:link{
	text-decoration:none;
	color:#a0a0a0;
}
a:visited{
	text-decoration:none;
	color:#a0a0a0;
}
a:hover{
	text-decoration:underline;
	color:#ffffff;
}
a:active {
	text-decoration:none;
	color:#a0a0a0;
}

#idRet2Top,#idRet2Top:hover{
	background-color:#707070;
	color:#f7f7f7;
	position:fixed;
	z-index:10;
	top:400px;
	left:457px;
	width:40px;
	text-align:center;
	cursor:pointer;
	border:solid #707070 4px;
}
#idRet2TopAim0{
	border-top:#f0f0f0 solid 4px;
}
#idRet2TopAim1{
	border:solid;
	border-color:#707070 #707070 #f0f0f0 #707070;
	border-width:0px 20px 10px 20px;
	margin:5px 0 0 0;
}
#idRet2TopAim2{
	border:solid;
	border-color:#707070 #707070 #707070 #707070;
	border-width:0px 12px 0px 12px;
	background-color:#f0f0f0;
	height:15px;
	margin:0;
}
#idNavigator{
	height:80px;
	position:fixed;
	z-index:998;
	width:100%;
	top:0px;
	left:0px;
	background-color:#606060;
	color:#f0f0f0;
}
.cCumFrom{
	color:#a0a0a0;
}
.cNavgPart{
	margin:10px 0 0 0;
	position:relative;
}
.cNavgLine1{
	margin:10px 0 0 0;
	font-size:16px;
}
.cNavgLine2{
	margin:20px 0 0 0;
	font-size:12px;
}
.cNavgBigLine{
	margin:30px 0 0 0;
	font-size:24px;
}
.cNavgLitLine{
	margin:36px 0 0 0;
	font-size:12px;
}
#idDataOrigin{
	font-size:12px;
}
.cTxtAlignC{
	text-align:center;
}
#idNavgLeft{
	top:0px;
	left:132px;
}
#idNavgRight{
	top:0px;
	right:132px;
}
#idNavgRight2{
	top:0px;
	right:160px;
}
#idLogo {
	border-style:solid;
	border-width:5px;
	border-color:transparent;
	height:60px;
	z-index:999;
}
.cInLine{
	display:inline-block;
}

.cFR {
	float:right;
}
.cFL {
	float:left;
}
#curCity{
	font-size:20px;
}
.cCur{
	font-size:14px;
	border-width:34px 0px 10px 10px;
}
.cBt{
	margin:32px 0px 10px 10px;
	border-radius:5px;
	font-size:14px;
}
#idContainer {
	margin:80px 132px 0px 132px;
	padding:0px 0px 0px 0px;
}
#idFootor {
	width:1000px;
	height:50px;
	float:left;
	margin:30px 132px 0px 132px;
	padding:10px 0px 0px 0px;
	text-align:center;
	border-top:red solid 2px;
	color:#b0b0b0;
}

#idSelectMode {
	width:710px;
	margin:0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	float:left;
}
.cSelMode {
	border-style:solid;
	border-width:10px;
	border-color:#a05050;
	font-size:16px;
	color:#a0a0a0;
	float:left;
	background-color:#a05050;
	border-radius:10px;
	margin:5px;
	cursor:pointer;
}
.cSelModeUsed {
	font-weight:bold;
	background-color:#a02020;
	border-color:#a02020;
	color:#f0f0f0;
}
#idChangePos{
	position:fixed;
	float:left;
	z-index:998;
	display:none;
	background-color:#afafaf;
	margin:0;
	width:100%;
}
#idPosBar{
	color:#ffffff;
	margin:0;
	padding:5px;
}
#idMap{
	height:400px;
}
#idAdv,#idLastLook {
	/*display:none;*/
	width:264px;
	background-color:#a7a7a7;
	float:right;
	margin:10px 0px 0px 0px;
	padding:10px 5px 10px 5px;
	border-radius:5px;
	font-size:12px;
}
#idAllLook{
	margin:0;
	padding:0;
}
#idLastLook > p,#idClearRecent{
	font-weight:bold;
}
#idClearRecent{
	color:#505050;
}
#idAllTg {
	/*display:none;*/
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
#idTgProgress{
	height:200px;
	background-color:#a7a7a7;
	display:none;
}
#idNoTgTip{
	display:none;
}
#idTgList {
	width:710px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	list-style-type:none;
}
.cTgLi {
	display:inline-block;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.cTgUnitLeft,.cTgUnitRight {
	border-radius:5px;
	width:340px;
	height:345px;
	background-color:#a7a7a7;
	margin:10px 10px 10px 0px;
	padding:0px 0px 0px 0px;
}
.cTgUnitRight {
	margin:10px 0px 10px 10px;
}
.ctgImg {
	width: 330px;
	height:200px;
	padding:5px;
}
.ctgTitle {
	height:50px;
	margin:0;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
}
.cTgTileHref:link,.cTgTileHref:visited,.cRecentHref:link,.cRecentHref:visited{
	text-decoration:none;
	color:#303030;
}
.cCheckRoute:link,.cCheckRoute:visited{
	text-decoration:none;
	color:#af4747;
}
.cTgTitleHref:hover,.cCheckRoute:hover,.cRecentHref:hover{
	text-decoration:underline;
	color:#ffffff;
}
.cTgTileHref:active,.cCheckRoute:active{
	text-decoration:none;
	color:#303030;
}

.cPriceLine, .cPriceLine p{
	margin:5px 10px 5px 10px;
}
.cPrice,.cMoneySign,.cValue,.cGo{
	font-size:26px;
	font-weight:bold;
	color:#eb4800;
	font-family: tahoma, arial, ו;
}
.cMoneySign{
	font-size:22px;
	font-family: Arial;
}
.cValue{
	text-decoration: line-through;
	font-size:16px;
	font-weight:normal;
	color:#a02020;
}
.cGo{
	margin:5px 0 0 0;
	padding:0;
	position:relative;
	float:right;
	width:70px;
	font-size:16px;
	color:white;
	border:solid #af4f4f;
	background-color:#af4747;
	border-radius:4px;
}
.cDist{
	border-top:#9f9f9f solid 2px;
	padding-top:5px;
	font-size:12px;
	text-align:right;
}
#idMoreTg{
	color:#707070;
	background-color:#efefef;
	width:700px;
	height:28px;
	float:left;
	margin:10px 132px 0px 132px;
	padding:10px 0px 0px 0px;
	text-align:center;
	border-radius:5px;
	display:none;
}
