@font-face {
  font-family: "FontAwesome";
  src: url("font/fontawesome-webfont.eot") format("embedded-opentype");
  src: url("font/fontawesome-webfont.eot") format("embedded-opentype"), url('font/fontawesome-webfont.woff') format('woff'), url('font/fontawesome-webfont.ttf') format('truetype'), url('font/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
p{
color:blue;
font-weight:700;
}
.line{
margin:1em 0 1em 0;
height:0.1em;
background-color:#cfcfcf;
width:100%;
}
.pos{
font-size:0.8em;
font-weight:bold;
margin:0.2em 0 0.2em 0;
padding:0 0 0 0;
color:#7f7f7f;
}
.fabuTime{
font-size:0.8em;
font-weight:bold;
margin:0.2em 0 1.5em 0;
padding:0 0 0 0;
color:#7f7f7f;
}
.image{
text-align:center;
}
img{
width:100%;
}
.fabuTime{
border:solid 0 0 2px 0 #808080;
}
.bottom{
background-color:#f0f0f0;
width:100%;
height:0.5em;
position:fixed;
bottom:0em;
}
.tel:before{
content:"\f095";
font-family: FontAwesome;
left:5px;
position:absolute;
}
.tel{
color:white;
background-color:#ea5946;
background-image:none;
vertical-align:baseline;
text-decoration:none;
-webkit-border-radius:5px;
background-repeat: repeat;
text-align:center;
margin:0.2em 0 0.2em 0;
padding:0.2em 0 0.2em 0;
position:fixed;
bottom:0;
left:0;
display:block;
width:100%;
font-size:1.5em;
}
.note{
color:red;
margin:1em 0 1em 0;
font-size:0.8em;
}
.copyright{
margin:0 0 2em 0;
text-align:center;
background-color:#f0f0f0;
padding:1em 0 1em 0;
font-size:0.8em;
color:#5f5f5f;
}