<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
    
    <servlet>
      <servlet-name>test</servlet-name>
      <servlet-class>com.btiao.tg.Test</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>P2PInfo2DB</servlet-name>
      <servlet-class>com.btiao.tg.gen.servlet.P2PInfo2DB</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>dbop</servlet-name>
      <servlet-class>com.btiao.tg.gen.servlet.DBOper</servlet-class>
    </servlet>
  
    <servlet-mapping>
      <servlet-name>test</servlet-name>
      <url-pattern>/test</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
      <servlet-name>P2PInfo2DB</servlet-name>
      <url-pattern>/addp1p2dist</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>dbop</servlet-name>
      <url-pattern>/dbop</url-pattern>
    </servlet-mapping>
</web-app>
